<a href="https://colab.research.google.com/github/MSiswanto/MachineLearning/blob/main/Covid19__Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

path ="/content/raw_data.txt"

with open(path, 'r') as f:
  data = f.read()

type(data)

str

In [ ]:
import ast
data = ast.literal_eval(data)
data.keys()

dict_keys(['data', 'update'])

In [ ]:
data['data']

{'id': 1,
 'jumlah_odp': 2288,
 'jumlah_pdp': 0,
 'total_spesimen': 107498588,
 'total_spesimen_negatif': 93580738}

In [ ]:
for i in data['update'].keys():
  print(f"{i} : {len(data['update'][i])}")

penambahan : 6
harian : 924
total : 4

In [ ]:
data['update']['penambahan']

{'jumlah_positif': 1939,
 'jumlah_meninggal': 13,
 'jumlah_sembuh': 2725,
 'jumlah_dirawat': -799,
 'tanggal': '2022-09-11',
 'created': '2022-09-11 16:36:05'}

In [ ]:
data['update']['total']

{'jumlah_positif': 6392492,
 'jumlah_dirawat': 33946,
 'jumlah_sembuh': 6200776,
 'jumlah_meninggal': 157770}

In [ ]:
x1 = [data['update']['harian'][i]['key_as_string'] for i in range(5)]
x2 = [data['update']['harian'][i]['key'] for i in range(5)]
x3 = [data['update']['harian'][i]['doc_count'] for i in range(5)]
x4 = [data['update']['harian'][i]['jumlah_meninggal']['value'] for i in range(5)]
x5 = [data['update']['harian'][i]['jumlah_sembuh']['value'] for i in range(5)]
x6 = [data['update']['harian'][i]['jumlah_positif']['value'] for i in range(5)]
x7 = [data['update']['harian'][i]['jumlah_dirawat']['value'] for i in range(5)]
x8 = [data['update']['harian'][i]['jumlah_positif_kum']['value'] for i in range(5)]
x9 = [data['update']['harian'][i]['jumlah_sembuh_kum']['value'] for i in range(5)]
x10 = [data['update']['harian'][i]['jumlah_meninggal_kum']['value'] for i in range(5)]
x11 = [data['update']['harian'][i]['jumlah_dirawat_kum']['value'] for i in range(5)]

df = pd.DataFrame({
    'x1' : x1,
    'x2' : x2,
    'x3' : x3,
    'x4' : x4,
    'x5' : x5,
    'x6' : x6,
    'x7' : x7,
    'x8' : x8,
    'x9' : x9,
    'x10' : x10,
    'x11' : x11,
})

df.columns = ['key_as_string', 'key', 'doc_count', 'jumlah_meninggal', 'jumlah_sembuh', 'jumlah_positif', 'jumlah_dirawat', 
 'jumlah_positif_kum', 'jumlah_sembuh_kum', 'jumlah_meninggal_kum', 'jumlah_dirawat_kum']

df.head()

,key_as_string,key,doc_count,jumlah_meninggal,jumlah_sembuh,jumlah_positif,jumlah_dirawat,jumlah_positif_kum,jumlah_sembuh_kum,jumlah_meninggal_kum,jumlah_dirawat_kum
0,2020-03-02T00:00:00.000Z,1583107200000,1,0,0,2,2,2,0,0,2
1,2020-03-03T00:00:00.000Z,1583193600000,1,0,0,0,0,2,0,0,2
2,2020-03-04T00:00:00.000Z,1583280000000,1,0,0,0,0,2,0,0,2
3,2020-03-05T00:00:00.000Z,1583366400000,1,0,0,0,0,2,0,0,2
4,2020-03-06T00:00:00.000Z,1583452800000,1,0,0,2,2,4,0,0,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   key_as_string         5 non-null      object
 1   key                   5 non-null      int64
 2   doc_count             5 non-null      int64
 3   jumlah_meninggal      5 non-null      int64
 4   jumlah_sembuh         5 non-null      int64
 5   jumlah_positif        5 non-null      int64
 6   jumlah_dirawat        5 non-null      int64
 7   jumlah_positif_kum    5 non-null      int64
 8   jumlah_sembuh_kum     5 non-null      int64
 9   jumlah_meninggal_kum  5 non-null      int64
 10  jumlah_dirawat_kum    5 non-null      int64
dtypes: int64(10), object(1)
memory usage: 568.0+ bytes